.mo-container{
   font-size: 70%;
   background: rgba(230,230,230,0.5);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   display: none;
   position: fixed;
   top: 65px;
   left: 0;
   max-height: calc(100% - 65px);
   padding: 10px 0 20px 0;
   overflow-y: scroll;
   cursor: pointer;
}
@media (min-width: 1024px){
   .mo-container{
      width: 90px;
      display: block;
   }
}
@media (min-width: 1150px){
   .mo-container{
      width: 150px;
      display: block;
   }
}
@media (min-width: 1440px){
   .mo-container{
      width: 280px;
   }
}
@media (min-width: 1800px){
   .mo-container{
      width: 400px;
   }
}

.mo-inner{
   padding-bottom: 12px;
}

.mo-item{
   padding: 0px 10px 0px 10px;
   margin-bottom: 12px;
.mo-item:hover{
   background: rgba(230,230,230,0.8);
}
.mo-H3{

}
.mo-H4{
   margin-left: 10px;
}
/* .mo-counts{
   text-align: center;
   margin-bottom: 10px;
   color: #e7af0e;
   font-weight: 600;
}*/

.mo-metabar-message{
   color: #e7af0e !important;
   /*margin-left: 16px;*/
}

.mo-containsTK{
   /*font-weight: bold;*/
   border-left: 3px solid #e7af0e;
   padding-left: 7px;
}
